$mobile: 840px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

body {
  background: #f4f5f7;
}

button {
  background: transparent;
  outline: none;

  cursor: pointer;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;
  }
}

.flag {
  height: auto;
  width: 200px;

  margin: 25px;

  border: 1px solid black;
}

.answer-options {
  display: flex;
  flex-direction: row;

  button {
    border: none;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }
  }

  .text-button {
    height: 50px;
    min-width: 100px;
    margin: 25px;

    border: 1px solid black;
    border-radius: 25px;

    transition: 0.2s ease-in-out;

    &:hover {
      border-width: 2px;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.result {
  display: none;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100px;

  padding: 20px;
  margin: 20px;

  border: 1px solid black;
  color: white;

  &--correct {
    background-color: green;
  }

  &--incorrect {
    background-color: red;
  }
}

.quiz-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 50px;

  select {
    height: 50px;
    width: 100px;

    margin: 20px;

    font-size: 16px;
  }

  button {
    height: 50px;
    width: 100px;

    margin: 20px;

    border: 1px solid black;
    border-radius: 25px;

    transition: 0.2s ease-in-out;

    &:hover {
      background-color: green;
      color: white;
    }
  }
}

.category-options {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  input {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.quiz-end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 25vh 25vw;
  padding: 25px;

  background-color: white;
  border: 1px solid black;
}

.restart-button {
  margin: 10px;
  padding: 15px 25px;

  border: 1px solid black;
  border-radius: 25px;
}
